<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>区服管理</title>

    <link rel="stylesheet" type="text/css"
          href="js/extjs/resources/css/ext-all-neptune.css">
    <link rel="stylesheet" type="text/css"
          href="js/extjs/resources/css/ext-icon.css">

    <script type="text/javascript" src="js/extjs/ext-all.js"></script>
    <script type="text/javascript" src="js/extjs/ext-lang-zh_CN.js"></script>

    <!--<script type="text/javascript" src="js/extjs/datetime/TimePickerField.js"></script>-->
    <!--<script type="text/javascript" src="js/extjs/datetime/DateTimePicker.js"></script>-->
    <!--<script type="text/javascript" src="js/extjs/datetime/DateTimeField.js"></script>-->
    <!--<script type="text/javascript" src="js/extjs/datetime/DateTimeMenu.js"></script>-->
    <!--<script type="text/javascript" src="js/extjs/datetime/DateTime.js"></script>-->

    <script type="text/javascript" src="js/common.js"></script>

    <script type="text/javascript" src="js/server_mgr.js"></script>
</head>
<body>

</body>
</html>